/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e3e8ec;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-card {
  font-family: 'Poppins', sans-serif;
  font-weight: 90;
  background-color: #fff;
  padding: 50px 70px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  max-width: 800px;
  width: 100%;
  min-height: 600px;
}

.home-card h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}

.home-card p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #666;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.btn {
  background-color: #42b72a;;
  color: white;
  text-decoration: none;
  padding: 15px;
  border-radius: 5px;
  font-size: 18px;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #218838;
}

.btn-secondary {
  background-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

.accordion {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  cursor: pointer;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-header h2 {
  font-size: 20px;
  color: #333;
}

.accordion-content {
  margin-top: 15px;
  text-align: left;
}

.hidden {
  display: none;
}
